body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    text-align: left;
  
  }
  
  #container {
    width: 100%;
    height: 100%;
  }
  
  div{
    box-sizing: border-box;
    position: absolute;
    line-height: 70px;
  }
  
  #a{
    position: fixed;
    top: 50px;
    left: 200px;
  }

  #b{
    position: fixed;
    top: 110px;
    left: 400px;
  }

  #c{
    position: fixed;
    top: 600px;
    left: 1000px;
  }

  #d{
    position: fixed;
    top: 480px;
    left: 700px;
  }

  #e{
    position: fixed;
    top: 120px;
    left: 60px;
  }

  #f{
    position: fixed;
    top: 700px;
    left: 20px;
  }
  
  #g{
    position: fixed;
    top: 200px;
    left: 1200px;
  }

  #h{
    position: fixed;
    top: 60px;
    left: 1300px;
  }

  #i{
    position: fixed;
    top: 50%;
    left: 50%;
  }

  #j{
    position: fixed;
    top: 5%;
    left: 35%;
  }

  #k{
    position: fixed;
    top: 91%;
    left: 90%;
  }

  #l{
    position: fixed;
    top: 91%;
    left: 44%;
  }

  #m{
    position: fixed;
    top: 3%;
    left: 9%;
  }

  #n{
    position: fixed;
    top: 30%;
    left: 10%;
  }

  #o{
    position: fixed;
    top: 25%;
    left: 44%;
   
  }

  #p{
    position: fixed;
    top: 50%;
    left: 30%;
    
  }
  #q{
    position: fixed;
    top: 20%;
    left: 50%;
    
  }
  #r{
    position: fixed;
    top: 20%;
    left: 77%;
   
  }
  #s{
    position: fixed;
    top: 16%;
    left: 30%;
   
  }
  #t{
    position: fixed;
    top: 20%;
    left: 10%;
   
  }

  @media screen and (max-width: 768px) {
    body {
        font-size: 30px;
    }

    div {
        line-height: 50px;
    }

    
    #a {
        top: 20px;
        left: 50px;
    }
    #b {
        top: 100px;
        left: 200px;
    }
    #c {
        top: 300px;
        left: 100px;
    }
    #d {
        top: 400px;
        left: 250px;
    }
    #e {
        top: 50px;
        left: 20px;
    }
    #f {
        top: 500px;
        left: 70px;
    }
    #g {
        top: 200px;
        left: 300px;
    }
    #h {
        top: 80px;
        left: 10px;
    }
    #i {
        top: 50%;
        left: 50%;
    }
    #j {
        top: 5%;
        left: 20%;
    }
    #k {
        top: 90%;
        left: 80%;
    }
    #l {
        top: 80%;
        left: 40%;
    }
    #m {
        top: 10%;
        left: 10%;
    }
    #n {
        top: 20%;
        left: 15%;
    }
    #o {
        top: 30%;
        left: 35%;
    }
    #p {
        top: 40%;
        left: 10%;
    }
    #q {
        top: 50%;
        left: 20%;
    }
    #r {
        top: 60%;
        left: 25%;
    }
    #s {
        top: 25%;
        left: 10%;
    }
    #t {
        top: 15%;
        left: 30%;
    }
}

@media screen and (max-width: 480px) {
    body {
        font-size: 20px;
    }

    div {
        line-height: 40px;
    }

  
    #a {
        top: 80px;
        left: 30px;
    }
    #b {
        top: 50px;
        left: 400px;
    }
    #c {
        top: 200px;
        left: 50px;
    }
    #d {
        top: 300px;
        left: 120px;
    }
    #e {
        top: 130px;
        left: 100px;
    }
    #f {
        top: 400px;
        left: 80px;
    }
    #g {
        top: 150px;
        left: 200px;
    }
    #h {
        top: 60px;
        left: 10px;
    }
    #i {
        top: 40%;
        left: 50%;
    }
    #j {
        top: 10%;
        left: 25%;
    }
    #k {
        top: 85%;
        left: 70%;
    }
    #l {
        top: 75%;
        left: 30%;
    }
    #m {
        top: 5%;
        left: 33%;
    }
    #n {
        top: 18%;
        left: 20%;
    }
    #o {
        top: 25%;
        left: 30%;
    }
    #p {
        top: 38%;
        left: 44%;
    }
    #q {
        top: 45%;
        left: 22%;
    }
    #r {
        top: 55%;
        left: 35%;
    }
    #s {
        top: 20%;
        left: 80%;
    }
    #t {
        top: 12%;
        left: 25%;
    }
}

.jh {
  position: fixed;
  bottom: 10px; 
  left: 50%;
  transform: translateX(-50%);
  font-size: 14px; 
  color: #555;
  text-align: center;
  z-index: 1000; 
}

@media screen and (max-width: 768px) {
  .jh {
      font-size: 8px;
      font-weight: lighter; 
  }
}

@media screen and (max-width: 480px) {
  .jh {
      font-size: 8px; 
      font-weight: lighter; 
  }
}

.overlay {
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  z-index: 9999;
  cursor: pointer;
  text-decoration: underline;
}
