html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
  text-align: left;
  height: 100%; 
  overflow: hidden; 
}
  
#container {
  width: 100%;
  height: 100%;  /* 화면을 꽉 채우도록 설정 */
}
  
div {
  box-sizing: border-box;
  position: absolute;
  line-height: 70px;
}
  
  #a{
    position: fixed;
    top: 20%;
    left: 15%;
  }

  #b{
    position: fixed;
    top: 30%;
    left: 45%;
  }

  #c{
    position: fixed;
    top: 17%;
    left: 55%;
  }

  #d{
    position: fixed;
    top: 80%;
    left: 20%;
  }

  #e{
    position: fixed;
    top: 15%;
    left: 20%;
  }

  #f{
    position: fixed;
    top: 38%;
    left: 70%;
  }
  
  #g{
    position: fixed;
    top: 22%;
    left: 82%;
  }

  #h{
    position: fixed;
    top: 10%;
    left: 76%;
  }

  #i{
    position: fixed;
    top: 50%;
    left: 50%;
  }

  #j{
    position: fixed;
    top: 5%;
    left: 35%;
  }

  #k{
    position: fixed;
    top: 45%;
    left: 56%;
  }

  #l{
    position: fixed;
    top: 88%;
    left: 44%;
  }

  #m{
    position: fixed;
    top: 15%;
    left: 9%;
  }

  #n{
    position: fixed;
    top: 30%;
    left: 10%;
  }

  #o{
    position: fixed;
    top: 25%;
    left: 44%;
   
  }

  #p{
    position: fixed;
    top: 50%;
    left: 30%;
    
  }
  #q{
    position: fixed;
    top: 20%;
    left: 50%;
    
  }
  #r{
    position: fixed;
    top: 20%;
    left: 77%;
   
  }
  #s{
    position: fixed;
    top: 16%;
    left: 30%;
   
  }
  #t{
    position: fixed;
    top: 20%;
    left: 10%;
   
  }


#overlay, .input-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


.overlay {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0); 
  color:rgb(34, 56, 255);
  font-size: 20px; 
  z-index: 9999;
  cursor: pointer;
  text-decoration: underline;
  text-align: center; 
  p{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* 요소의 중앙 정렬 */
    margin: 0;
    line-height: 30px;
    text-decoration: underline;
  }
}



.input-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ffffff; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(34, 56, 255);
  border-radius: 0;
  z-index: 10000;
  text-align: center;

  p {
    font-size: 24px;
    margin-bottom: 20px;
    color: rgb(34, 56, 255);
  }

  input {
    background-color:white;
    width: 300px;
    padding: 10px;
    font-size: 18px;
    border: 1px solid rgb(34, 56, 255);
    outline: none;
    margin-bottom: 20px;
    border-radius: 0;
  }

  button {
    padding: 10px 20px;
    font-size: 18px;
    background-color:  rgb(34, 56, 255);
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 0;
    &:hover {
      background-color:rgb(158, 136, 255);
    }

    &:active {
      background-color:rgb(111, 79, 255);
    }
  }
}



  @media screen and (max-width: 768px) {
    body {
        font-size: 30px;
    }

    div {
        line-height: 50px;
    }

    .jh {
      font-size: 8px;
      font-weight: lighter; 
  }

}

@media screen and (max-width: 480px) {
    body {
        font-size: 20px;
    }

    div {
        line-height: 40px;
    }

    .jh {
      font-size: 8px; 
      font-weight: lighter; 
  }
}

.jh {
  position: fixed;
  bottom: 2%; 
  left: 50%;
  transform: translateX(-50%);
  font-size: 10px; 
  color: #555;
  text-align: center;
  z-index: 1000; 
}

